@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.pageHeader {
	background-image: linear-gradient(to right, #dcdcdc 0%, #bdc3a6 100%);
	text-align: center;
	padding: 20px;
	color: rgb(194, 90, 5);
}
